@font-face {
    font-family: opensans;
    src: url("../fuentes/OpenSansCondensed-Light.ttf")
}

@font-face {
    font-family: yanone;
    src: url("../fuentes/YanoneKaffeesatz-ExtraLight.ttf")
}

body {
    max-width: 1000px;
    margin: 0 auto;
    border: 0.01rem solid rgb(218, 216, 216);
    padding: 40px;
}

.header__title {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 5rem;
    border-bottom: 0.01rem solid rgb(218, 216, 216);
    color: gray;
    padding-bottom: 4rem;
}

.main {
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.form__nuevoalimento {
    width: 275px;
    height: 45px;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 0.3rem;
    font-size: 1.3rem;
    letter-spacing: 0.09rem;
    text-align: center;
    margin: 10px;
}

.button {
    width: 220px;
    height: 50px;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 0.3rem;
    font-size: 1.3rem;
    letter-spacing: 0.09rem;
    padding: 0.5rem;
    margin-right: 5rem;
    color: white
}

.form__btnaniadir,.form__btncomprar {
    background-color: #50b1c2;
    margin: 10px;
}

/* LISTA */

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto;
    font-family: opensans;
    font-weight: bold;
    color: rgb(73, 75, 207);
    padding: 0;
}

.listitem {
    list-style-type: none;
    border: 1px solid rgb(218, 216, 216);
    font-size: 1.3rem;
    font-variant: small-caps;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}

.listitem__name {

    margin-right: 0.5rem;
    font-size: 2rem;
}

.listitem__amount {

    font-size: 2rem;
    margin-left: 0.7rem;
}

.buttons{
    display: flex;
    justify-content: center;
}

.listbtn__decrease,
.listbtn__add,.listbtn__erase {
    font-size: 2rem;
    border: none;
    background-color: blue;
    border: 1px solid blue;
    width: 45px;
    color: whitesmoke;
    border-radius: 0.25rem;
}

.listbtn__decrease {
    padding-bottom: 5px;
    margin: 2px;
}
.listbtn__add{
    padding-top: 4px;
    margin: 2px;
}
.listbtn__add:focus,.listbtn__decrease:focus{
    border: 1px solid blue;
    color: blue;
    background-color: white;
}

.texto::first-letter {
    color: red;
    font-size: 2.5rem;
    margin: 0 1rem;
}

.texto::selection {
    color: red;
    background-color: greenyellow;
}
.listitem__amount{
    margin-right: 10px;
}
.listbtn__erase{
    background-color: rgb(219, 73, 73);
    color: white;
    width: 45px;
    padding-top: 0;
    padding-bottom: 5px;
}
.listbtn__erase:hover{
    outline: 2px solid black;
    background-color: red;
}

.listitem__price{
    padding-top: 11px;
}

.error--empty{
    display: none;
}

.error--repeat{
    display: none;
}

